<div class="container">
	
	<h1 class="blue">Parrainage des .13</h1>
	<p class='lead inscriptionsubtitle'>Inscris-toi et tente de gagner un fillot, une fillote, voire plusieurs !</p>
	<p class="muted">Mais pas plusieurs fillotes faut pas déconner...</p><br>
</div>
<%= render 'form' %>
