<div class="container">
	
<p>
  <strong>Nom:</strong>
  <%= @prepa.nom %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @prepa.ville %>
</p>

<%= link_to 'Edit', edit_prepa_path(@prepa) %> |
<%= link_to 'Back', prepas_path %>
</div>
